*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-100{
    display: flex;
    justify-content: center;
    .box-80{
        width: 80%;
    }
}

.box-news{
    overflow: hidden;
    background-color: bisque;
    .box-image{
        width: 49%;
        float: left;
        img{
            width: 100%;
            margin: 0.5rem;
        }
    }
    .box-text{
        width: 49%;
        float: right;
        margin: 0.5rem 0 1rem 1rem;
    }
}

.box-news:nth-child(2n) .box-image{
    float: right;
}